<!DOCTYPE html>

<html>

<head>
      <link rel="stylesheet" type='text/css' href="/css/styles.css">
    

</head>

<body>
     {{>header}}
     <img src="../../public/img/Tanu.jpg">
     <p>Created by {{name}}</p>
     {{>footer}}

</body>

</html>