<!DOCTYPE html>

<html>

<head>
      <link rel="stylesheet" type='text/css' href="/css/styles.css">
    

</head>

<body class="main-content">
     {{>header}}
     <img src="/img/Tanu.jpg">
     <p>This site is Created by {{name}}</p>
     {{>footer}}

</body>

</html>